##output preserve {{@root.output}}/client/index.html
<!DOCTYPE html>
<html>
<head>
  <title>{{model.name}}</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <link href='/styles/base.css' rel='stylesheet' type='text/css'>
  <link href='/styles/custom.css' rel='stylesheet' type='text/css'>
</head>
<body style="height: 100%; overflow-y: hidden">
  <div id="app"></div>
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
